.graph{
    margin: 3em 2em;
}

.graph-header{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
}

.graph-header .text h3{
    font-size: 1.1em;
    color:#774DFF
}

.graph-header .text p{
    font-size: 0.6em;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    background: #fff;
    padding: 0.5 1em;
    border-radius: 20px;
}

.toggle .active-toggle{
    background: #774DFF;
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 20px;
}

.graph .main-graph{
    width: 100%;
    /* height: 200px; */
    /* background: #774DFF; */
}