
.real-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
 .search {
    border-radius: 20px;
    display: flex;    
    width: 300px;
    background: #fff;
    color: #774DFF;
    padding: 0.5em 1em;
    align-items: center;
    /* justify-content: space-between; */
}

.real-top .top,
.real-top .top-menu
{
    display: none;
}

.search input{
    background: transparent;
     border: none;
     outline: none;
     margin-left: 0.5em;
     padding: 0.5em;
color: #774DFF
}
.stats{
    display: flex;
    margin:2em 0;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.stats .stat-content{
    display: flex;
    margin:0.3em ;
 
}

.stats .stat-content .stat-text{
    margin-left: 0.3em;
 
}

.stats .stat-content .stat-text p{
    font-size: 0.9em;
 
}

.stats .stat-content .stat-text strong{
    font-size: 0.9em;
 
}
.stats .stat-content .stat-text h3{
    font-size: 1.5em;
 color:#774DFF;
 margin: 0.2em 0;
}

@media screen and (max-width: 978px){
   
    .real-top .top-menu{
        display: block;
    }

    .real-top .top{
        display: none;
    
}
   
    
}

@media screen and (max-width:568px){
    .search {
        border-radius: 20px;
        display: flex;    
        width: 170px;
        background: #fff;
        color: #774DFF;
        padding: 0.5em;
        align-items: center;
        /* justify-content: space-between; */
    }
        .stats .stat-content .stat-text h3{
            font-size: 1.2em;
        font-weight: 600
        }
    


    .real-top .top{
        display: block;
    
    }
}