


.card-stats .stats{
    display: flex;
    flex-wrap: wrap;
    margin:1em 0;
    justify-content: space-between;
    /* width: 100%; */
    padding:1em;
    align-items: center;
    
}

.card-stats .stats .stat-content{
    display: flex;
    background: #fff;
    padding: 0.6em;
    margin:0.3em ;
    border-radius: 20px;
    align-items: center;
    width: 150px
    
}

.card-stats .stats .stat-content .stat-text p {
   font-size: 0.7em;
}

.card-stats .stats .stat-content .stat-text h3 {
   font-size: 1.5em;
   font-weight: bold;
}

.card-stats .stats .stat-content .icon{
    display: flex;
    background: #774DFF;
    padding: 0.5em;
    border-radius: 10px;
    align-items: center;
}

.card-stats .details .detail-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
   
   
}

.card-stats .details .deal{
    display: flex;
    flex-direction: column;
}

.card-stats .details #state p{
    background: #fff;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    margin-bottom: 1.4em;
    color: #774DFF
}

.card-stats .details .deal p{
    margin-bottom: 2em;
    font-size: 0.8em;
}

@media screen and (max-width: 968px){

    .card-stats .stats .stat-content{
        display: flex;
        background: #fff;
        padding: 1em;
        margin:0.3em ;
        border-radius: 20px;
        align-items: center;
        width: 50%

        
    }

    .card-stats .stats{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
       
    }

    .card-stats .stats{
      
        margin: 0;
    
        padding: 0;
      
        
    }

}



@media screen and (max-width: 568px){
    .card-stats .stats{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
       
}


.card-stats .stats .stat-content{
    display: flex;
    background: #fff;
    padding: 1em;
    margin:0.3em ;
    border-radius: 20px;
    align-items: center;
    width: 60%;
    

    
}

.card-stats .stats .stat-content .stat-text {
    margin-left: 3em
 }
}


@media screen and (max-width: 375px){
    .card-stats .stats .stat-content{
        display: flex;
        background: #fff;
        padding: 1em;
        margin:0.3em ;
        border-radius: 20px;
        align-items: center;
        width: 80%

        
    }
       
}
